@using ProjectContar.WebApp.ViewModels.AccountPayables

@model AccountPayableNewPage
@{
    ViewBag.Title = "Nova";
}
@Html.Partial("_Messages", Model.Message)
@using (Html.BeginForm("New", "AccountPayable", FormMethod.Post, new { id = "frmNewAccountPayable" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title custom-panel-title">Nova Conta a Pagar</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="input-field col-md-6 col-sm-12">
                    @Html.TextBoxFor(model => model.Item.Name, new { @class = "tooltipped", @data_position = "top", id = "Account_Name", @maxlength = "20", @data_tooltip = "Nome da Conta" })
                    @Html.LabelFor(model=>model.Item.Name)
                </div>
            </div>

            <div class="row">
                <div class="input-field col-md-6 col-sm-12">
                    @Html.TextBoxFor(model => model.Item.DueDate, new { @class = "datepicker tooltipped", data_position = "top", id = "Account_DueDate", data_tooltip = "Data de Vencimento da Conta" })
                    @Html.LabelFor(model => model.Item.DueDate)
                </div>
            </div>

            <div class="row">
                <div class="input-field col-md-6 col-sm-12">
                    @Html.TextBoxFor(model => model.Item.Amount, new { @class = "currencyField tooltipped", data_position = "top", id = "Account_Amount", data_tooltip = "Valor da Conta" })
                    @Html.LabelFor(model => model.Item.Amount)
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button class="btn grey custom-button-120 tooltipped" data-position="top" id="clear_AccountPayable" data-tooltip="Limpa os dados digitados." type="button">
                <i class="fas fa-eraser">&nbsp;&nbsp;</i>Limpar
            </button>
            <button class="btn btn-success custom-button-120 tooltipped" data-position="top" data-tooltip="Salva Nova Conta" type="submit">
                <i class="fas fa-save">&nbsp;&nbsp;</i>Salvar
            </button>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/pages/pageAccountPayable.js"></script>
    <script>

        let fieldName = $('#Account_Name');
        let fieldDueDate = $('#Account_DueDate');
        let fieldAmount = $('#Account_Amount');
        let formfrmNewAccountPayable = $('#frmNewAccountPayable');

        let pageAccountPayableObj = pageAccountPayable(fieldName, fieldDueDate, fieldAmount);

        function _newAccountPayableSubmmit() {
            $.blockUI({ message: '<h4>Aguarde...</h4>' });
        }

        $('#clear_AccountPayable').on('click', pageAccountPayableObj.clearFields);
        $('#frmNewAccountPayable').on('submit', _newAccountPayableSubmmit);

    </script>
}

